<div class="container ext-content">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Video Name</th>
                    <th>Request Date</th>
<!--                    <th>Video Encoding Duration</th>-->
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="video in videoHistoryList">
                    <td style="vertical-align : middle;">{{video.videoName}}</td>
                    <td style="vertical-align : middle;">{{video.metadata.timeCreated}}</td>
<!--                    <td style="vertical-align : middle;">{{video.metadata.ffmpegProcessDuration}}</td>-->
                    <td style="vertical-align : middle;">{{getVideoStatus($index)}}</td>
                    <td layout="row" layout-align="center"><md-button ng-click="takeToStudio($index)" class="md-accent">Edit</md-button>
                    <md-button ng-click="playVideo($event, $index)" ng-disabled="video.metadata.state!==1" class="md-accent">Watch</md-button></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
