<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add new slide to your list</h3>
        </div>
        <div class="panel-body">
            <div class="row bottom-margined">

                <div class="col-md-2">
                    <div class="fileUpload btn btn-sm btn-info">
                        <span>Choose image</span>
                        <input type="file" class="upload" accept="image/*" custom-on-change="uploadFile" />
                    </div>
                    <div>{{chosenImageName}}</div>
                </div>

                <div class="col-md-10">
                    <input class="text_field_to_image" type="text" placeholder="Add text to the image" ng-model="caption">
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3" align="center">
                    <button class="btn btn-md btn-success add-btn" ng-click="addItem()" ng-disabled="!isReadyToAddItem()">Add to List</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Your List</div>

        <!-- Table -->
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>File name</th>
                <th>Caption</th>
                <th>Typing speed</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in ListItems">
                <td>{{$index + 1}}</td>
                <td>{{ item.fileName }}</td>
                <td>
                    <input class="text_field_to_image" type="text" ng-model="item.caption">
                </td>
                <td>
                    <md-slider-container>
                        <md-slider flex min="1" max="10"  ng-model="item.typeSpeed" aria-label="red" id="red-slider" class="md-primary">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="item.typeSpeed" aria-label="red" aria-controls="red-slider">
                        </md-input-container>
                    </md-slider-container>
                </td>

                <td>
                    <div class="table-btns">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-primary" ng-click="moveUpItem($index)" ng-disabled="$first">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="moveDownItem($index)" ng-disabled="$last">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                        <div style="display: inline-block">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="removeItem($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div class="centerized">
        <button type="button" class="btn btn-lg btn-warning" ng-click="generateFile()" ng-disabled="ListItems.length==0">Generate the Clip</button>
    </div>
</div>
