<div class="col-xs-12">
<!--
    <div class="alert alert-danger" role="alert">Attention! Currently we support only <b>1280x720</b> images.</div>
    <br>
-->
    <div class="row bottom-margined">
        <div class="col-md-2">
            <div class="fileUpload btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                <input type="file" class="upload" accept="image/*" custom-on-change="uploadFile" multiple/>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Your List</div>

        <!-- Table -->
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>File name</th>
                <th>Caption</th>
                <th>Typing speed</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in listItems">
                <td>{{$index + 1}}</td>
                <td>{{ item.fileName }}</td>
                <td>
                    <input class="text_field_to_image" type="text" ng-model="item.caption">
                </td>
                <td>
                    <md-slider-container>
                        <md-slider flex min="1" max="10" ng-model="item.typeSpeed" aria-label="red" id="red-slider" class="md-primary">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="item.typeSpeed" aria-label="red" aria-controls="red-slider">
                        </md-input-container>
                    </md-slider-container>
                </td>

                <td>
                    <div class="table-btns">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-primary" ng-click="moveUpItem($index)" ng-disabled="$first">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="moveDownItem($index)" ng-disabled="$last">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                        <div style="display: inline-block">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="removeItem($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div class="centerized">
        <button type="button" class="btn btn-lg btn-warning" ng-click="generateFile()" ng-disabled="listItems.length==0">Generate the Clip</button>
        <br>
        <md-button class="md-primary md-raised" ng-click="showAdvanced($event)" ng-show="video_is_ready">
            Watch it!
        </md-button>
    </div>

</div>






<!--
<p>Real Video</p>
<form method="post" enctype="multipart/form-data" action="/test">
    Name:
    <input type="text" name="firstName">
    <br>
    <input type="file" name="upload" id="files" multiple="multiple">
    <br>
    <input type="submit">
</form>

<br>
<button class="btn" onclick="test()">Manual</button>
-->
<!--
<script>
    var imageFiles = [];
    var formData = new FormData();
    formData.append('mFirstField', 'firstFieldValue');

    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        imageFiles.push(files[0]);
        // files is a FileList of File objects. List some properties.

    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);

    var test = function() {
        for (var i = 0, f; i < imageFiles.length; i++) {
            f = imageFiles[i];
            console.log(f);
            console.log(f.name);
            formData.append('images', f);
        }
//        formData.append('images', imageFiles[0]);
//        formData.append('images', imageFiles[1]);
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {

            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log("xhr.responseText is: " + xhr.responseText);
            }
        };
        xhr.open("POST", "/test");
        xhr.send(formData);
    }

</script>
-->
